<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/masterlayout.html}">
<head>

</head>
<body>
<th:block layout:fragment="content">

    <h3 style="padding-top: 70px">Welcome to the eRegistrar Students Management System (eRegSMS)</h3>
    <hr/>

    <div style="font-size: 1em">
        <img class="img-responsive" th:src="@{/images/banner1.jpg}"/> <br/><br/>
        <p>We are a top-flight, fully-digitized Registry.
            Find out more <a href="#">About us</a> and
            and learn how we can serve you with the widest variety of books and lots of other
            digital content, all for your education as well as your entertainment.
            You can also <a href="#">Take a Virtual Tour</a>,
            of our world-class facilities and be amazed at all what we have in stock
            for you, your family and friends.</p>
        <p>To browse and manage the <a href="#">List of Students</a>, please first make sure to read the
            instructions and key points provided below. And then click the
            appropriate menu item, located on the menu-bar above.<br/><br/>

            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.</p>
    </div>
</th:block>

</body>
</html>

